body{
  padding: 0;
  margin: 0;
  /* background-color: #1234ff; */
}

.flex{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: green; */
}

.calculator{
  border-radius: 20px;
  background-color: Black;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outputLine{
  height: 10vh;
  width: 80%;
  background-color: red;
}

.rowB, button{
  margin: 0.1vh;
}

button{
  padding: 3vh;
}
